{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="row" style="flex-wrap: nowrap;">
        {% for i in books %}
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{{i.cover}}" class="card-img-top" style="width:300px;height:200px" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <p class="card-text">{{i.author}}</p>
                    <a href="#" class="btn btn-primary">read</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
